//https://siimple.juanes.xyz/colors
$color-pink-0: #f02872;
$color-pink-1: #f24081;
$color-pink-2: #f45b93;
$color-pink-3: #f570a1;
$color-pink-4: #f788b0;

.text-pink-0 {
    color: $color-pink-0;
}
.text-pink-1 {
    color: $color-pink-1;
}
.text-pink-2 {
    color: $color-pink-2;
}
.text-pink-3 {
    color: $color-pink-3;
}
.text-pink-4 {
    color: $color-pink-4;
}
